.contacts__icon:hover {
    color: #EADEED;
}

.contacts__icon:focus {
    color: #EADEED;
}

.contacts__icon:active {
    color: var(--color);
}

.contacts__info:hover {
    color: var(--color);
}

.contacts {
    background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts__icon {
    color: white;
    transition: 1s;
}

.contacts__title {
    padding-top: 7px;
    min-height: 18px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.contacts__locate {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
} 

.contacts__info {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.contacts__info::before {
    content: "";
    display: inline-block;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    vertical-align: top;
}

.contacts__info--loc::before {
    background-image: url(image/location.svg);
}

.contacts__info--tel::before {
    background-image: url(image/phone.svg);
}

.contacts__info--mail::before {
    background-image: url(image/envelope.svg);
}

.contacts__list {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 35px;
}

.contacts__icon {
    width: 30px;
    height: 30px;
}

.contacts__map {
    display: flex;
    justify-content: center;
}

.contacts__map-pict {
    min-height: 194px;
    margin-bottom: 63px;
}

.contacts__text-author {
    min-height: 16px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.contacts__text-author--one {
    margin-bottom: 19px;
}

.contacts__text-author--two {
    margin-bottom: 5px;
}

.contacts__text-author--three {
    padding-bottom: 24px;
}

@media (min-width:768px) {    
    .contacts__title {
        padding-top: 10px;
        min-height: 36px;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 30px;
    }
    
    .contacts__locate {
        margin-bottom: 27px;
    } 
    
    .contacts__info {
        font-size: 24px;
        line-height: 28px;
    }
    
    .contacts__info::before {
        background-size: 26px 26px;
        width: 26px;
        height: 26px;
    }
        
    .contacts__list {
        column-gap: 26px;
        margin-bottom: 30px;
    }
    
    .contacts__icon {
        width: 38px;
        height: 38px;
    }
    
    .contacts__map-pict {
        min-height: 337px;
        margin-bottom: 75px;
    }
    
    .contacts__text {
        display: flex;
        justify-content: space-between;
    }
    
    .contacts__text-author {
        min-height: 16px;
        font-size: 14px;
    }
    
    .contacts__text-author--one {
        margin-bottom: 0;
    }
    
    .contacts__text-author--two {
        margin-bottom: 6px;
    }
    
    .contacts__text-author--three {
        padding-bottom: 18px;
    }
}

@media (min-width:1024px) {    
    .contacts__title {
        padding-top: 12px;
        min-height: 40px;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 26px;
    }
    
    .contacts__all {
        display: flex;
        justify-content: space-between;
    }

    .contacts__locate {
        justify-content: initial;
        margin-bottom: 7px;
    } 

    .contacts__locate--loc {
        margin-bottom: 40px;
    }
    
    .contacts__info {
        font-size: 24px;
        line-height: 28px;
        text-align: initial;
        padding-left: 40px;
        position: relative;
    }
    
    .contacts__info--loc::before {
        content: "";
        position: absolute;
        left: 0;
        top: 14px;
    }
    .contacts__info::before {
        position: absolute;
        background-size: 26px 26px;
        width: 26px;
        height: 26px;
        left: 0;
    }
        
    .contacts__list {
        margin-bottom: 0px;
        justify-content: initial;
    }
    
    .contacts__icon {
        width: 38px;
        height: 38px;
    }
    
    .contacts__map-pict {
        min-height: 274px;
        margin-bottom: 92px;
        max-width: 542px;
    }
    .contacts__info--mail {
        margin-bottom: 40px;
    }    
    .contacts__text-author--three {
        padding-bottom: 19px;
    }
}

@media (min-width:1440px) {    
    .contacts__title {
        padding-top: 55px;
        min-height: 56px;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 40px;
    }
    
    .contacts__all {
        display: flex;
        justify-content: space-between;
        column-gap: 60px;
    }

    .contacts__locate {
        margin-bottom: 11px;
    } 

    .contacts__locate--loc {
        margin-bottom: 39px;
    }
    
    .contacts__info {
        font-size: 24px;
        line-height: 28px;
        padding-left: 60px;
    }
    
    .contacts__info::before {
        background-size: 32px 32px;
        width: 32px;
        height: 32px;
        top: -2px;
    }

    .contacts__info--loc::before {
        content: "";
        position: absolute;
        left: 0;
        top: 12px;
    }
    
    .contacts__icon {
        width: 48px;
        height: 48px;
    }
    
    .contacts__map-pict {
        min-height: 274px;
        margin-bottom: 145px;
        max-width: 680px;
    }  
    .contacts__text-author--three {
        padding-bottom: 21px;
    }
}