.our__block-pic1 {
    background-image: url("image/our1.png");
}

.our__block-pic2 {
    background-image: url("image/our2.png");
}

.our__block-pic3 {
    background-image: url("image/our3.png");
}

.our__block-pic4 {
    background-image: url("image/our4.png");
}

.our__block-pic5 {
    background-image: url("image/our5.png");
}

.our__block-pic6 {
    background-image: url("image/our6.png");
}

.our__container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap ;
    justify-content: center;
}

.our {
    margin-bottom: 30px;
}

.our__block {
    height: 75px;
    flex-basis: 135px;
    background-repeat: no-repeat;
    background-size: contain; 
    transition: 1s; 
}

.our__title {
    min-width: 280px;
    min-height: 36px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.our__text {
    padding: 30px 10px ;
    min-height: 14px;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
}

.our__block:hover {
    transform: scale(1.1);
}

@media (min-width:768px) {
    .our {
        margin-bottom: 60px;
    }

    .our__container {
        gap: 20px;
    }
    
    .our__block {
        height: 200px;
        flex-basis: 334px;  
    }
    
    .our__title {
        min-height: 72px;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 30px;
    }
    
    .our__text {
        padding: 0;
        padding-top: 132px;
        padding-left: 30px;
        width: 274px;
        min-height: 28px;
        font-size: 18px;
        line-height: 28px;
    }
}

@media (min-width:1024px) {
    .our {
        margin-bottom: 70px;
    }
    .our__container {
        gap: 22px 30px;
    }
    
    .our__block {
        height: 172px;
        flex-basis: 281px;
    }
    
    .our__title {
        min-height: 72px;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 30px;
    }
    
    .our__text {
        padding-top: 114px;
        padding-left: 20px;
        width: 247px;
        font-size: 19px;
        line-height: 28px;
        width: 100%;
    }

    .our__block:nth-child(2), .our__block:nth-child(5) {
        /* position: absolute; */
        top: 70px;
    }
}


@media (min-width:1440px) {    

    .our {
        margin-bottom: 100px;
    }

    .our__container {
        gap: 40px 20px;
    }
    
    .our__block {
        height: 228px;
        flex-basis: 380px;
    }
    
    .our__title {
        min-width: 980px;
        min-height: 103px;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 40px;
    }
    
    .our__text {
        min-height: 28px;
        font-size: 20px;
        line-height: 28px;
        padding-left: 40px;
        padding-top: 166px;
    }
}