.header__back {
    margin-bottom: 15px;
}

.header__link-back {
    min-height: 16px;;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

.header__link-back::before {
    content: "";
    display: inline-block;
    background-image: url(../../image/arrow__back.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    margin-right: 6px;
}

.room__title {
    min-height: 36px;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 66px;
}

.room__block {
    margin: 0 -20px;
    min-height: 168px;
    margin-bottom: 30px;
    background-image: url(../../image/header__back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.room__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;    
    text-align: center;
    margin-bottom: 30px;
}

@media (min-width:768px) {
    .header-room {
        margin-bottom: 0;
    }

    .header__back {
        margin-bottom: 20px;
    }
    
    .header__link-back {
        min-height: 28px;;
        font-size: 16px;
        line-height: 28px;
    }
    
    .header__link-back::before {
        background-size: 28px 28px;
        width: 28px;
        height: 28px;
        margin-right: 10px;
    }
    
    .room__title {
        min-height: 72px;
        font-size: 60px;
        line-height: 120%;
        padding-top: 165px;
    }
    
    .room__block {
        margin-left: -40px;
        margin-right: -40px;
        min-height: 402px;
        margin-bottom: 60px;
    }
    
    .room__text {  
        margin-bottom: 60px;
    }
}

@media (min-width:1024px) {
    .header__link-back {
        font-size: 22px;
    }
    
    .room__title {
        min-height: 80px;
        font-size: 90px;
        line-height: 80px;
        padding-top: 227px;
    }
    
    .room__block {
        margin-left: -60px;
        margin-right: -60px;
        min-height: 534px;
        margin-bottom: 70px;
    }
    
    .room__text {  
        margin-bottom: 70px;
        font-size: 20px;
        line-height: 150%;
    }
}

@media (min-width:1440px) {       
    .room__title {
        font-size: 90px;
        line-height: 80px;
        padding-top: 335px;
    }
    
    .room__block {
        margin-left: -130px;
        margin-right: -130px;
        min-height: 750px;
        margin-bottom: 100px;
    }
    
    .room__text {  
        margin-bottom: 100px;
        font-size: 24px;
    }
}