.what__title {
    min-height: 18px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.what__img {
    margin-bottom: 15px;
    max-height: 180px;
    width: 100%;
}

.what__text {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 30px;
}

@media (min-width:768px) {
    .what__title {
        min-height: 36px;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 30px;
    }
    
    .what__info {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
        column-gap: 46px;
    }
    
    .what__img {
        margin-bottom: 0;
        max-height: 326px;
        max-width: 329px;
    }
    
    .what__text {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 0;
    }
}

@media (min-width:1024px) {
    .what__title {
        min-height: 40px;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 36px;
    }
    
    .what__info {
        margin-bottom: 70px;
        column-gap: 30px;
    }
    
    .what__img {
        /* max-height: 326px; */
        max-width: 461px;
    }
    
    .what__text {
        font-size: 18px;
        line-height: 28px;
    }
}

@media (min-width:1440px) {
    .what__title {
        min-height: 50px;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 40px;
    }
    
    .what__info {
        margin-bottom: 100px;
        column-gap: 80px;
    }
    
    .what__img {
        max-height: 424px;
        max-width: 600px;
    }
    
    .what__text {
        font-size: 20px;
        line-height: 28px;
    }
}