.booking__btn:hover {
    background-color: var(--help-color);
    border: 3px solid inherit;
}

.booking__btn:focus {
    background-color: var(--default);
    border: 3px solid var(--help-color);
}

.booking__btn:active {
    background-color: var(--extra-color);
    color: var(--default);
    border: 3px solid var(--default);
}

.booking__submit:hover {
    background: #EADEED;
    border: 3px solid var(--extra-color);
}

.booking__submit:focus {
    background: var(--default);
    border: 3px solid var(--extra-color);
}

.booking__submit:active {
    background: #EADEED;
    border: 3px solid inherit;
}

.booking__day-time:focus {
    background-color: #FFFFFF;
    border: 3px solid var(--color);
}

.booking__radio:focus, .booking__checkbox:focus {
    border: 4px solid var(--color);
}

/* ДЛЯ ВСЕЙ ЗОНЫ КНОПКИ 
.halls__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 6px;
    left: 0;
    z-index: 1;
} */


.booking {
    background-color: var(--additional-color);
}

.booking__main {
    padding-top: 30px;
    min-width: 280px;
    min-height: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.booking__text {
    min-width: 280px;
    min-height: 18px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 15px;
}

.booking__hall {
    display: flex;
    justify-content: center;
    gap: 14px 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.booking__btn {
    min-width: 130px;
    min-height: 30px;
    background-color: var(--default);
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding: 4px 17px;
    position: relative;
    border: 3px solid var(--default);
}

.booking__title {
    min-width: 280px;
    min-height: 18px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 15px;
}

.booking__play-table {
    display: flex;
    flex-direction: column;
}

.booking__legend-name {
    min-width: 280px;
    min-height: 18px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
    font-weight: 700;

}

.booking__radio, .booking__checkbox {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    vertical-align: middle;
}

.booking__label {
    min-height: 18px;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 15px;
}

.booking__label:last-child {
    margin-bottom: 25px;
}

.booking__funs {
    margin-bottom: 5px;
}

.booking__title--mb {
    margin-bottom: 25px;
}

.booking__date-time {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px 12px;
}

.booking__day-time {
    width: 134px;
    height: 52px;
    background: var(--default);
    padding-left: 20px;
    font-size: 14px;
    line-height: 18px;
    transition: 1s;
}

.booking__day-time--long, .booking__day-time--long-very {
    min-width: 280px;
    font-size: 14px;
    line-height: 18px;  
    color: #211E1E;
}

.booking__legend--arrow {
    position: relative;
}

.booking__legend--arrow::after {
    position: absolute;
    right: 19px;
    top: 18px;
    content: url(image/arrow.png);
}

.booking__main {
    padding-top: 30px;
}

.booking__legend {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.booking__legend:last-child {
    margin-bottom: 35px;
}

.booking__submit {
    background: var(--default);
    border-radius: 4px;
    min-height: 60px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--extra-color);
    padding: 17px 58px;
    margin-bottom: 30px;
}

.booking__btn-submit {
    display: flex;
    justify-content: center;
}

.booking__info {
    display: flex;
    column-gap: 12px;
    height: 52px;
}

@media (min-width:768px) {
    .booking__main {
        padding-top: 50px;
        min-width: 280px;
        min-height: 36px;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    
    .booking__text {
        min-height: 28px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 30px;
    }
    
    .booking__hall {
        column-gap:29px;
        margin-bottom: 50px;
    }
    
    .booking__btn {
        min-width: 150px;
        min-height: 38px;
        font-size: 16px;
        line-height: 20px;
        padding: 9px 20px;
    }
    
    .booking__title {
        min-height: 28px;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 30px;
    }

    .booking__funs {
        margin-bottom: 50px;
        display: flex;
        gap: 32px 66px;
        flex-wrap: wrap;
        min-height: 272px;
        min-width: 301px;
    }
    
    .booking__label:last-child {
        margin-bottom: 0;
    }
    
    .booking__legend-name {
        min-height: 28px;
        font-size: 24px;
        line-height: 28px; 
    }
    
    .booking__radio, .booking__checkbox {
        width: 40px;
        height: 40px;
    }
    
    .booking__label {
        min-height: 25px;
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 20px;
    }    
    
    .booking__title--mb {
        margin-bottom: 30px;
    }
    
    .booking__date-time {
        display: flex;
        justify-content: space-between; 
        column-gap: 106px;
    }

    .booking__info {
        display: flex;
        column-gap: 14px;
    }
    
    .booking__day-time {
        border: none;
        min-width: 134px;
        min-height: 52px;
        padding-top: 2px;
        font-size: 18px;
        line-height: 28px;
    }
    
    .booking__day-time--long {
        min-width: 280px; 
    }

    .booking__day-time--long-very {
        min-width: 300px;
    }
    
    .booking__legend--arrow::after {
        position: absolute;
        right: 19px;
        top: 23px;
        content: url(image/arrow.png);
    } 
    
    .booking__legend {
        display: flex;
        flex-direction: column;
    }
    
    .booking__btn-submit {
        justify-content: flex-end;
        transition: 1s;
    }

    .booking__submit {
        min-width: 300px;
        min-height: 50px;
        line-height: 24px;
        padding: 13px 45px;
        border-radius: 10px;
        border: 3px solid var(--default);
        margin-bottom: 50px;
    }
}

@media (min-width:1024px) {
    .booking__main {
        padding-top: 60px;
        min-height: 56px;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    
    .booking__text {
        margin-bottom: 26px;
    }
    
    .booking__hall {
        column-gap:61px;
        margin-bottom: 60px;
    }
    
    .booking__btn {
        min-width: 180px;
        min-height: 44px;
        font-size: 20px;
        line-height: 24px;
        padding: 10px 20px;
    }
    
    .booking__title {
        margin-bottom: 26px;
    }

    .booking__funs {
        margin-bottom: 60px;
        column-gap: 32px;
        min-height: 272px;
        min-width: 301px;
    }
    
    .booking__radio, .booking__checkbox {
        width: 27px;
        height: 27px;
    }

    .booking__title--mb {
        margin-bottom: 26px;
    }
    
    .booking__date-time {
        display: flex;
        flex-direction: column;
        gap: 14px 50px;
        max-height: 216px;
        margin-bottom: 50px;
    }

    .booking__info {
        display: flex;
        column-gap: 32px;
        padding-top: 18px;
        order: 0;
    }

    .booking__legend {
        height: auto;
    }
    
    .booking__day-time {
        border: none;
        min-width: 134px;
        min-height: 52px;
        padding-top: 2px;
        font-size: 18px;
        line-height: 28px;
    }
    
    .booking__day-time--long {
        min-width: 250px; 
    }

    .booking__day-time--long-very {
        min-width: 250px;
    }

    .booking__legend--people {
        min-width: 300px;
        order: 1;
    }

    .booking__legend--name {
        order: 1;
    }
    
    .booking__legend--phone {
        order: 3;
    }
    
    .booking__legend--surname {
        order: 2;
    }
    
    .booking__legend--email {
        order: 4;
    }
    
    .booking__legend--arrow::after {
        top: 17px;
    } 
    
    .booking__legend {
        display: flex;
        flex-direction: column;
    }
    
    .booking__legend:last-child {
        margin-bottom: 0px;
    }

    .booking__submit {
        min-width: 250px;
        min-height: 50px;
        font-size: 18px;
        padding: 13px 40px;
    }
}

@media (min-width:1024px) {
    .booking__main {
        padding-top: 60px;
        min-height: 56px;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    
    .booking__text {
        margin-bottom: 26px;
    }
    
    .booking__hall {
        column-gap:61px;
        margin-bottom: 60px;
    }
    
    .booking__btn {
        min-width: 180px;
        min-height: 44px;
        font-size: 20px;
        line-height: 24px;
        padding: 10px 20px;
    }
    
    .booking__title {
        margin-bottom: 26px;
    }

    .booking__funs {
        margin-bottom: 60px;
        column-gap: 32px;
        min-height: 272px;
        min-width: 301px;
        justify-content: center;
    }
    
    .booking__radio, .booking__checkbox {
        width: 27px;
        height: 27px;
    }

    .booking__title--mb {
        margin-bottom: 26px;
    }
    
    .booking__date-time {
        display: flex;
        flex-direction: column;
        gap: 14px 50px;
        max-height: 216px;
        margin-bottom: 50px;
        align-content: center;
    }

    .booking__info {
        display: flex;
        column-gap: 32px;
        padding-top: 18px;
        order: 0;
    }

    .booking__legend {
        height: auto;
    }
    
    .booking__day-time {
        border: none;
        min-width: 134px;
        min-height: 52px;
        padding-top: 2px;
        font-size: 18px;
        line-height: 28px;
    }
    
    .booking__day-time--long {
        min-width: 250px; 
    }

    .booking__day-time--long-very {
        min-width: 250px;
    }

    .booking__legend--people {
        min-width: 300px;
        order: 1;
    }

    .booking__legend--name {
        order: 1;
    }
    
    .booking__legend--phone {
        order: 3;
    }
    
    .booking__legend--surname {
        order: 2;
    }
    
    .booking__legend--email {
        order: 4;
    }
    
    .booking__legend--arrow::after {
        top: 17px;
    } 
    
    .booking__legend {
        display: flex;
        flex-direction: column;
    }
    
    .booking__legend:last-child {
        margin-bottom: 0px;
    }

    .booking__submit {
        min-width: 250px;
        min-height: 50px;
        font-size: 18px;
        padding: 13px 40px;
    }
}

@media (min-width:1440px) {
    .booking__main {
        padding-top: 80px;
        min-height: 56px;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 40px;
    }
    
    .booking__text {
        margin-bottom: 40px;
    }
    
    .booking__hall {
        column-gap:60px;
        
    }
    
    .booking__btn {
        min-width: 250px;
        min-height: 55px;
        font-size: 30px;
        line-height: 40px;
        padding: 7px 15px;
    }
    
    .booking__title {
        margin-bottom: 40px;
    }

    .booking__funs {
        column-gap: 100px;
        min-height: 300px;
        min-width: 301px;
    }
    
    .booking__checkbox {
        width: 25px;
        height: 25px;
    }


    .booking__label {
        font-size: 22px;
        line-height: 25px;
    }
    .booking__title--mb {
        margin-bottom: 38px;
    }
    
    .booking__date-time {
        min-width: 980px;
        max-height: 228px;
        margin-bottom: 40px;
        align-self: center;
    }

    .booking__info {
        padding-top: 18px;
    }

    .booking__day {
        width: 100%;
    }
    
    .booking__day-time--long {
        width: 100%; 
    }

    .booking__day-time--long-very {
        width: 100%;
    }

    .booking__legend--people {
        width: 300px;
    }

    .booking__legend--name {
        width: 280px;
    }
    
    .booking__legend--phone {
        width: 300px;
    }
    
    .booking__legend--surname {
        width: 280px;
    }
    
    .booking__legend--email {
        width: 300px;
    }

    .booking__btn-submit {
        display: grid;
        grid-template-columns: 66% 34%;
    }
    
    .booking__submit {
        grid-row: 1/2;
        grid-column: 2/3;
        width: 300px;
        min-height: 60px;
        font-size: 22px;
        line-height: 28px;
        padding: 16px 48px;
        margin-right: 100px;
    }
}
